.vscode
cloudbuild
integration
node_modules
!node_modules/@vscode/codicons/dist
out/
src/
scripts/
test/
third_party/
esbuild.config.ts
jest.config.js
package.json.original
tsconfig.json
tsconfig.tsbuildinfo
