:host {
  color: var(--vscode-foreground);
  display: block;
}

ul {
  margin: 5px 0;
  padding: 0 0.75em;
  list-style-type: none;
}

li.schema {
  list-style: none;
}

.hidden ul {
  display: none;
}

li.fields {
  margin: 2px 0;
}

li.fields label {
  display: block;
  font-size: 10px;
  margin-left: 5px;
  margin-top: 0.5em;
  text-transform: uppercase;
}

.explore_name {
  line-height: 2em;
  font-weight: 600;
}

.field {
  white-space: nowrap;
  display: flex;
  vertical-align: middle;
  border: 1px solid var(--vscode-notebook-cellBorderColor);
  border-radius: 8px;
  padding: 0.25em 0.75em;
  margin: 0.2em;

  &.clickable {
    cursor: pointer;
  }
}

.field_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.25em;
}

.field_name {
  padding-left: 0.5em;
}

svg {
  position: relative;
  left: -2px;
}

.field_name,
svg,
span,
b {
  vertical-align: middle;
  display: inline-block;
}

.preview {
  color: var(--vscode-editorCodeLens-foreground);
  font-size: 0.8em;
  padding-left: 5px;
  cursor: pointer;

  &:hover {
    color: var(--vscode-editorLink-activeForeground);
  }
}
